<footer>
    <img class="headerimg" src="images/logo.jpg" />
    <p class="credits">© 2024 Copyright - Tout droits réservés <a href="https://github.com/noam120606/2nr-portfolio">Code source</a><a href="/terms">Mentions légales</a></p>
</footer>