<header>
    <div class="logo">
        <img class="headerimg" src="images/logo.jpg" />
        <div class="headertitle">
            <h1>2NR</h1>
            <p>Création de site internet</p>
        </div>
    </div>
    <nav>
        <a href="/exemples">Nos exemples de sites</a>
        <a href="/about">Qui sommes-nous ?</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
<img src="images/banner.jpg" class="banner"/>