<!DOCTYPE html>
<html>
    <head><%- include('partials/head.ejs'); %></head>
    <body>
        <%- include('partials/header.ejs'); %>
        <content>
            <h1>Qui sommes-nous ?</h1>
            <div class="paragraph">
                <p>Nous sommes deux étudiants passionnés par le monde numérique et l’innovation. Ensemble, nous avons fondé une initiative visant à créer des sites web sur mesure pour les établissements et les petites entreprises.</p>
                <p>Notre mission est de fournir des solutions digitales élégantes et fonctionnelles qui répondent aux besoins spécifiques de nos clients, tout en restant accessibles et faciles à gérer.</p>
                <p>Avec un œil pour le design et un autre pour la technologie, nous transformons les idées en réalité. Chaque projet est une aventure, chaque défi est une opportunité de grandir et d’apprendre. Nous sommes les architectes du web de demain, et nous sommes là pour aider votre organisation à se connecter avec le monde.</p>
            </div>
            <div class="personnel">
                <div class="personne">
                    <img class="personneimg" src="images/personnes/nathan.jpg" alt="Nathan">
                    <span class="nom">Nathan</span>
                </div>
                <div class="personne">
                    <img class="personneimg" src="images/personnes/noam.jpg" alt="Noam">
                    <span class="nom">Noam</span>
                </div>
            </div>
        </content>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>