<!DOCTYPE html>
<html>
    <head><%- include('partials/head.ejs'); %></head>
    <body>
        <%- include('partials/header.ejs'); %>
        <content>
            <h1>Nos exemples de sites</h1>
            <div class="exemples">
                <img class="exemple" src="images/exemples/1.png" />
                <img class="exemple" src="images/exemples/2.png" />
                <img class="exemple" src="images/exemples/3.png" />
            </div>
        </content>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>