<!DOCTYPE html>
<html>
    <head><%- include('partials/head.ejs'); %></head>
    <body>
        <%- include('partials/header.ejs'); %>
        <content>
            <h1>Mentions légales</h1>
            <div class="paragraph">
                <p>Nom du site : 2nr.site</p>
                <p>Responsable de la publication : Noam Roger</p>
                <p>Email : contact@2nr.site</p>
                <p></p>
                <p>Le contenu de ce site, y compris les textes, images, graphismes, logo, icônes, et vidéos, est la propriété de 2nr.site, sauf mention contraire. Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments est strictement interdite sans l'accord écrit de 2nr.site.</p>
                <p>Aucune donnée personnelle n'est collectée. Aucun cookie tiers n'est enregistré. Vos données après envoi d'un message via la page contact sont totalement confidentielles et enregistrées dans un canal de discussion privé. Les mails sont entièrement gérés par une société tierce (LWS).</p>
            </div>
        </content>
        <%- include('partials/footer.ejs'); %>
    </body>
</html>